<div class="content" role="main">

  <h2>Periodic Table of the
    <mat-form-field>

      <mat-select (change)="onSelectorChange($event)">
        <mat-option
          *ngFor="let name of tableNames"
          [value]="name"
        >
          {{name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </h2>

  <p>Hover over an element to populate the properties table on the left.</p>
  <p>Click an element to read additional information.</p>

  <app-table [inputTable]="tableName"></app-table>

</div>
