<div class="content" role="main">

  <h2>Periodic Table of the </h2>

    <form [formGroup]="tableForm">
      <mat-form-field appearance="fill">
        <mat-select (selectionChange)="onSelectorChange($event)" placeholder="{{defaultName}}">
          <mat-option
            *ngFor="let name of tableNames"
            [value]="name"
          >
            {{name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  <p>Hover over an element to populate the properties table on the left.</p>
  <p>Click an element to read additional information.</p>

  <app-table [inputTable]="tableName"></app-table>

</div>
