/* You can add global styles to this file, and also import other style files */

// I generated this pallete from
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors

:root {
  --color-primary: #e00069;
  --color-complementary: #00e077;
  --color-analogous1: #e000d9;
  --color-analogous2: #e00700;
  --color-triadic1: #e07700;
  --color-triadic2: #69e000;
}

html, body { height: 100%; }

body {
  color: white;
  background-color: #262626 !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: var(--color-complementary);
}
