.container {
  display: flex;
  // align-items: center;
}

#left {
  flex-basis: 15%;
  margin: 5px;
}

#right {
  flex-basis: 85%;
  margin: 5px;
}

table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
}

td {
  padding: 0px;
  margin: 0px;
}

