<div class="toolbar" role="banner">
  <span id="left">Periodic Table</span>
  <div class="spacer"></div>
  <span id="right">Create New Table</span>
</div>

<div class="content" role="main">

  <h2>Periodic Table of the
    <label for="tables"></label>
    <select id="tables">
      <option>Elements</option>
    </select>
  </h2>

  <p>Hover over an element to populate the properties table on the left.</p>
  <p>Click an element to read additional information.</p>


  <app-table></app-table>

  <footer>
    Made by Ethan Rietz
    | <a href="https://erietz.github.io/">Personal Website</a>
    | <a href="https://github.com/erietz">GitHub</a>
    | <a href="https://www.linkedin.com/in/ethan-rietz-498070143">LinkedIn</a>
  </footer>

</div>

<router-outlet></router-outlet>
