:host {
  margin: 0;
  padding: 0;
}

.cell {
  // all: unset;
  text-align: center;
  border-radius: 4px;
  background-color: var(--color-complementary);
  min-height: 10px;
  min-width: 10px;
  max-width: 80px;
  max-height: 80px;
  margin: 0px;
  padding: 3px;
  overflow: hidden;
  text-overflow: clip;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.cell:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

// app-cell {
//   margin: 0px;
//   padding: 0px;
// }
