<div>

  <form [formGroup]="cellForm" (ngSubmit)="saveCell()">
    <label>
      Atomic Name:
      <input
        type="text"
        formControlName="elementName"
        placeholder="cellInfo.elementName"
        required
      >
    </label>
    <br/>

    <label>
      Atomic Number:
      <input
        type="number"
        formControlName="elementNumber"
        min="1"
        placeholder="1"
        required
      >
    </label>
    <br/>

    <label>
      Symbol:
      <input
        type="text"
        formControlName="elementSymbol"
        placeholder="H"
        required
      >
    </label>
    <br/>

    <label>
      GroupBlock (aka the color of the cell):
      <input
        type="text"
        formControlName="GroupBlock"
        placeholder="Default"
        required
      >
    </label>
    <br/>

    <div
      formArrayName="elementProperties"
      *ngFor="let prop of elementProperties.controls; let i=index"
    >
      <div [formGroupName]="i">
      <label>
        Element Property:

          <input formControlName="name" placeholder="name">
          <input formControlName="description" placeholder="description">

        <button type="button" (click)="removeElementProperty(i)">Remove</button>

      </label>
      </div>

    </div>
    <button type="button" (click)="addElementProperty()">Add Property</button>

    <button type="submit" mat-button mat-dialog-close>
      Save Element
    </button>
  </form>
</div>
