<form [formGroup]="cellForm" (ngSubmit)="saveCell()">

  <mat-form-field appearance="fill">
    <mat-label> Atomic Name: </mat-label>
      <input
        matInput
        type="text"
        formControlName="elementName"
        required
      >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> Atomic Number: </mat-label>
      <input
        matInput
        type="number"
        formControlName="elementNumber"
        min="1"
        required
      >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> Symbol: </mat-label>
      <input
        matInput
        type="text"
        formControlName="elementSymbol"
        required
      >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> GroupBlock (aka the color): </mat-label>
      <input
        matInput
        type="text"
        formControlName="GroupBlock"
        required
      >
  </mat-form-field>
  <br/>


  <span
    formArrayName="elementProperties"
    *ngFor="let prop of elementProperties.controls; let i=index"
  >
    <mat-form-field [formGroupName]="i" appearance="fill">
      <mat-label> Name: </mat-label>
      <input matInput formControlName="name" placeholder="name" required>

      <mat-label> Description: </mat-label>
      <input matInput formControlName="description" placeholder="description" required>

      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="removeElementProperty(i)"
      >
        Remove
      </button>

    </mat-form-field>
  </span>

  <div class="centered">
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="addElementProperty()"
    >
      Add Element Property
    </button>

    <br/>

    <button
      type="submit"
      mat-raised-button
      mat-dialog-close
      color="primary"
      [disabled]="!formInvalid()"
    >
      Save
    </button>
  </div>
</form>

