<div class="content">

  <form [formGroup]="tableSizeForm" (ngSubmit)="onSubmit()">
    <h2>Table Size</h2>
    <label>
      Rows
      <input type="number" formControlName="rows" required>
    </label>
    <label>
      Columns
      <input type="number" formControlName="columns" required>
    </label>

    <button>Initialize table</button>
  </form>

  <table>
    <tbody>
      <tr *ngFor="let row of table">
        <td *ngFor="let col of columns">
          <app-cell-create
            [cell]="row[col]"
            [backgroundColor]="defaultColor"
            >
          </app-cell-create>
        </td>
    </tbody>
  </table>

</div>
