<div class="content">

  <h2>Create A New Periodic Table</h2>

  <form [formGroup]="creationStyleForm" *ngIf="creationStyle === 0">
    <h2>Creation Style</h2>
    <mat-form-field>
      <mat-label>Creation Style</mat-label>
      <mat-select [(value)]="creationStyle">
        <mat-option [value]="1">From Scratch</mat-option>
        <mat-option [value]="2">From Clone</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form [formGroup]="cloneForm" *ngIf="creationStyle === 2" (ngSubmit)="initCells()">
    <h2>From Clone</h2>

    <mat-form-field appearance="fill">
      <mat-label>Table To Clone From</mat-label>
      <mat-select [(value)]="cloneTableName">
        <mat-option *ngFor="let foo of tableNames" [value]="foo">
          {{foo}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Table Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <br/>
    <button mat-raised-button color="primary" type="submit" *ngIf="cloneTableName != null">Initialize Table</button>
  </form>

  <form [formGroup]="tableSizeForm" (ngSubmit)="initCells()" *ngIf="creationStyle === 1">
    <h2>From Scratch</h2>

    <mat-form-field appearance="outline">
      <mat-label> Table Name </mat-label>
        <input matInput type="text" formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Rows </mat-label>
        <input matInput type="number" min="1" formControlName="rows" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Columns </mat-label>
        <input matInput type="number" min="1" formControlName="columns" required>
    </mat-form-field>

    <br/>
    <button mat-raised-button color="primary">Initialize table</button>
  </form>

  <div id="middle">
    <table>
      <tbody>
        <tr *ngFor="let row of table">
          <td *ngFor="let col of columns">
            <app-cell-create
              [cell]="row[col]"
              [backgroundColor]="palette[row[col].value.elementProperties['GroupBlock']]"
              (groupBlock)="onGroupBlockUpdate($event)"
              >
            </app-cell-create>
          </td>
      </tbody>
    </table>
  </div>

  <button
    mat-raised-button
    color="primary"
    *ngIf="this.columns.length > 0"
    (click)="saveToDb()"
  >
    Save Table To Database
  </button>

</div>
