.content {
  margin: 82px auto 82px auto;
  padding: 0;
  // max-width: 90%;
  text-align: center;
}

input {
  // padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  table-layout: fixed;
  // border: 1px solid white;
  margin: 20px;
  padding: 20px;
}

// table {
//   table-layout: fixed;
//   border-collapse: separate;
//   border-spacing: 10px;
//   width: 100%;
// }

.delete {
  padding: 30px;
  margin: 30px;
  width: 100px;
  height: 100px;
  border: 1px solid white;
}
