.content {
  margin: 82px auto 82px auto;
  padding: 0;
  // max-width: 90%;
  text-align: center;
}

input {
  // padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  border: 1px solid white;
  margin: 20px;
  padding: 20px;
}

.delete {
  padding: 30px;
  margin: 30px;
  width: 100px;
  height: 100px;
  border: 1px solid white;
}
