<div class="content">

  <h2>Create A New Periodic Table</h2>

  <form [formGroup]="tableSizeForm" (ngSubmit)="initCells()">

    <mat-form-field appearance="outline">
      <mat-label> Table Name </mat-label>
        <input matInput type="text" formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Rows </mat-label>
        <input matInput type="number" min="1" formControlName="rows" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Columns </mat-label>
        <input matInput type="number" min="1" formControlName="columns" required>
    </mat-form-field>

    <br/>
    <button mat-raised-button color="primary">Initialize table</button>
  </form>

  <table>
    <tbody>
      <tr *ngFor="let row of table">
        <td *ngFor="let col of columns">
          <app-cell-create
            [cell]="row[col]"
            [backgroundColor]="palette[row[col].value.elementProperties['GroupBlock']]"
            (groupBlock)="onGroupBlockUpdate($event)"
            >
          </app-cell-create>
        </td>
    </tbody>
  </table>

  <button
    mat-raised-button
    color="primary"
    *ngIf="this.columns.length > 0"
    (click)="saveToDb()"
  >
    Save Table To Database
  </button>

</div>
