.container {
  display: flex;
}

#left {
  flex-basis: 100px;
  margin: 5px;
}

#right {
  flex-basis: 600px;
  margin: 5px;
}

table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
}

td {
  padding: 0px;
  margin: 0px;
}

