<table>
  <caption align="left">
    <app-cell-properties
      [properties]="properties"
      >
    </app-cell-properties>
  </caption>

    <tr *ngFor="let row of myTab">
      <td *ngFor="let col of myCols">
        <app-cell
          [cell]="row[col]"
          [backgroundColor]="palette[row[col].elementProperties.GroupBlock]"
          (displayProperties)="populateProperties($event)"
          >
        </app-cell>
      </td>
    </tr>
</table>
<app-legend
    [groups]="groups"
    [palette]="palette"
  >
</app-legend>
