<div class="container">

  <div id="left">
    <app-cell-properties [properties]="properties" > </app-cell-properties>
  </div>
  <div id="right">
    <table>
      <tr *ngFor="let row of table">
        <td *ngFor="let col of columns">
          <app-cell
            [cell]="row[col]"
            [backgroundColor]="palette[row[col].elementProperties.GroupBlock]"
            (displayProperties)="populateProperties($event)"
            >
          </app-cell>
        </td>
      </tr>
    </table>
    <app-legend [groups]="groups" [palette]="palette"></app-legend>
  </div>
</div>
